@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Humberto Mariano Morais<br />
    Ralph Baitinga<br />
    Daniel de Freitas </br>
</address>

<address>
    <strong>Email:</strong>   <a href="http://gmail.com">humbertomariano10@gmail.com</a><br />
    <a href="http://gmail.com">ralphwbms@gmail.com </a><br />
    <a href="http://gmail.com">daniel.freitas.jnr@gmail.com</a><br />
</address>