@model WebMvcSgq.Models.tbl_Acessos

@{
    ViewBag.Title = "SemAcesso";
}

<h2>SemAcesso</h2>

<div>
    <h2>Você não tem acesso nessa pagina!</h2>
</div>

<div>
    @Html.ActionLink("Voltar para o Home", "Index", "Home")
</div>

